<div class="col-md-10 offset-md-1 navbar-expand-sm mb-4">
  <mat-toolbar color="primary" class="top-bar-corners">
    <mat-toolbar-row class="row top-bar-height">
      <div class="col-xl-2 col-md-2 col-lg-2 col-sm-6"><h3>La Bodega</h3></div>
      <div class="col-xl-2 offset-xl-8 col-lg-3 offset-lg-7 col-md-4 offset-md-6 col-sm-6">
        <ul class="row mt-4 align-content-sm-center">
          <li class="col-3 pl-0 pr-0">
            <a [routerLink]="[ 'catalogo' ]" class="float-sm-right" matTooltip="Catálogo"
               matTooltipClass="tooltip-topbar" matTooltipPosition="before">
              <mat-icon class="icon-toolbar" aria-hidden="false">apps</mat-icon>
            </a>
          </li>
          <li class="col-3 pl-0 pr-0">
            <a [routerLink]="[ 'carrito' ]" class="float-sm-right" matTooltip="Carro de Compras"
               matTooltipClass="tooltip-topbar" matTooltipPosition="before">
              <mat-icon [(matBadge)]="badgeNumb" matBadgeColor="warn" [(matBadgeHidden)]="hideBadge" class="icon-toolbar"
                aria-hidden="false" id="carIcon">shopping_cart</mat-icon>
            </a>
          </li>
          <li class="col-3 pl-0 pr-0">
            <a [routerLink]="[ 'compras' ]" class="float-sm-right" matTooltip="Compras Realizadas"
               matTooltipClass="tooltip-topbar" matTooltipPosition="before">
              <mat-icon class="icon-toolbar" aria-hidden="false">inbox</mat-icon>
            </a>
          </li>
          <li class="col-3 pl-0 pr-0">
            <a [routerLink]="[ '../salir' ]" class="float-sm-right" matTooltip="Salir"
               matTooltipClass="tooltip-topbar" matTooltipPosition="before">
              <mat-icon class="icon-toolbar" aria-hidden="false">exit_to_app</mat-icon>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
