/** Estilos personalizados para el componente del Catálogo de Productos de la Tienda Online */

span, label, input, p, b {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.1em !important;
  letter-spacing: -1px;
}

mat-form-field {
  width: 100% !important;
}

h2 {
  letter-spacing: -2px !important;
}

.catalog {
  max-height: 85vh !important;
  overflow-y: scroll !important;
}

mat-card.product {
  width: 100% !important;
  height: auto !important;
}

mat-card-title b {
  font-size: 1.5rem !important;
}

mat-card-actions {
  display: flex !important;
  flex-direction: column !important;
}


button {
  font-weight: bold !important;
  color: whitesmoke !important;
}

:host /deep/ mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-outline {
  height: 40px !important;
}

:host /deep/ mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
  padding-top: 4px !important;
}

.img-product {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
}

.img-product img {
  max-width: 100%;
  max-height: 100%;
  height: 180px;
  width: auto;
}

.btn-flex {
  display: flex;
  flex-direction: column;
  flex-flow: row;
}

.view-more-btn {
  width: 100%;
}

.add-car-btn {
  width: 65%;
  height: auto;
}

.input-stock {
  border-radius: 5px;
  width: 35%;
  height: 2.2rem;
  align-self: flex-end;
}

@media screen and (min-width: 1440px) {
  .catalog {
    max-width: 1200px !important;
  }
}
