<div class="col-xl-10 col-lg-10 col-md-10 offset-xl-1 offset-lg-1 offset-md-1 col-12 mb-3">
  <div class="catalog col bg-light">
    <div class="row">
      <div class="col-xl-9 col-lg-8 col-md-6 col-12 mt-2">
          <h2 class="mt-4">Catálogo de Productos</h2>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-12 mt-4">
          <span class="lead">¿Qué estás buscando?</span>
          <mat-form-field appearance="outline">
            <input matInput type="text" placeholder="Buscar producto" name="schprod" [(ngModel)]="prodSearcher.name"
              autocomplete="off">
          </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt-2 p-2" *ngFor="let prod of products | prodSearch: prodSearcher">
        <mat-card class="product shadow p-1">
          <mat-card-header>
            <mat-card-title><b class="text-capitalize">{{ prod.name }}</b></mat-card-title>
          </mat-card-header>
          <div class="img-product">
            <img src="{{ prod.image }}" alt="{{ prod.name }}" class="pt-1 pb-1">
          </div>
          <mat-card-content>
            <p>Precio: {{ prod.price }}$</p>
            <p>Unidades disponibles: {{ prod.stock }}</p>
          </mat-card-content>
          <mat-card-actions class="pl-3 pr-3 pb-2">
            <div class="row">
              <div class="btn-flex col-xl-5 col-lg-4 col-md-4 col-6 pl-2 pr-2 mb-1">
                <button mat-raised-button color="primary" class="view-more-btn" [routerLink]="[ '../producto/' + prod._id ]">Ver más</button>
              </div>
              <div class="btn-flex col-xl-6 offset-xl-1 col-lg-7 offset-lg-1 col-md-7 offset-md-1 col-6 pl-1 pr-2 mb-1">
                <button mat-raised-button color="accent" class="add-car-btn" (click)="addProduct2Car(prod, quantt)">Añadir</button>
                <input type="number" class="align-bottom input-stock pl-1" [value]="1" [min]="1" [max]="30" #quantt>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
