/** Estilos personalizados para el componente de las Compras realizadas en la Tienda Online */
.shoppingcars {
  max-height: 85vh !important;
  overflow-y: scroll !important;
}

.purchases-tree-invisible {
  display: none;
}

.purchases-tree ul,
.purchases-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
