<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="col-lg-2 offset-lg-6"><span>La Bodega</span></div>
    <div class="col-lg-2">
      <mat-icon class="icon-toolbar" aria-hidden="false">apps</mat-icon>
      <mat-icon class="icon-toolbar" aria-hidden="false">shopping_cart</mat-icon>
      <mat-icon class="icon-toolbar" aria-hidden="false">inbox</mat-icon>
      <mat-icon class="icon-toolbar" aria-hidden="false">exit_to_app</mat-icon>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
