/** Estilos personalizados para el componente de Registro de Usuario en la Tienda Online */

.title-dialog {
  text-align: center;
  margin: 0;
  width: 100%;
}

.btn-close-dialog {
  float: right;
  background-color: transparent;
  border: none;
  color: #363636;
}

mat-divider {
  border-color: whitesmoke !important;
}

mat-form-field {
  margin: 0.5rem 0 !important;
}

mat-icon {
  margin-right: 0.5rem !important;
}

mat-label, mat-hint {
  color: whitesmoke !important;
}

mat-error {
  background-color: pink !important;
  border-radius: 3px;
  height: 1.2rem;
  text-align: center;
  width: auto;
  vertical-align: middle;
  padding-top: 3px;
}

:host /deep/ mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-outline {
  color: whitesmoke !important;
}

:host /deep/ mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-outline .mat-form-field-outline-start {
  width: 39px !important;
}

button[type="submit"] {
  width: 100% !important;
}
