/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html, body {
  height: 100%;
  font-family: 'Josefin Sans', sans-serif !important;
}

body {
  margin: 0;
  max-width: 1440px !important;
 }

.bckgr-login {
  background-image: linear-gradient(#00000070, #00000070), url('./assets/login-fondo.jpg');
  background-size: cover;
}

.bckgr-main {
  background-image: url('./assets/main-fondo.jpg');
  background-size: cover;
}

.main-container {
  align-items: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40%;
  border-radius: 5px;
}

.signup-dialog .mat-dialog-container {
  background-color: dimgray !important;
  background: dimgray !important;
  color: whitesmoke !important;
  border: 1px solid whitesmoke !important;
  box-shadow: 0 0 10px whitesmoke;
  padding: 0.5rem !important;
  overflow: hidden !important;
}

.notice-bar-error {
  color: #b90000 !important;
  font-weight: bolder;
  background: #fc9090 !important;
}

.notice-bar-success {
  color: #1a7000 !important;
  font-weight: bolder;
  background: #5fc777 !important;
}

.tooltip-topbar {
  font-size: 0.8em;
  font-weight: 600;
  background: #1598cce5;
}

.mr-header {
  margin-left: 400px !important;
}

@media screen and (min-width: 1560px) {
  body {
    margin-left: 15% !important;
  }

  .mr-header {
    margin-left: 600px !important;
  }
}

@media screen and (max-width: 1080px) {
  .mr-header {
    margin-left: 200px !important;
  }
}

@media screen and (max-width: 800px) {
  .mr-header {
    margin-left: 100px !important;
  }
}
